/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

.wrap {
  display: flex;
  gap: 20px;
  padding: 40px;
}

.nameField {
  padding: 10px;
  border-radius: 30px;
  outline: none;
  border: 1px solid black;
  font-size: 18px;
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  margin: 1px;
}

.row {
  display: flex;
}

.food {
  background-color: yellow;
}

.snake {
  background-color: green;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(25, 26, 21, 0.4);
  z-index: 2;
  overflow: auto;
}
.modal {
  position: relative;
  border: 2px solid red;
  padding: 0 30px;
  color: red;
  font-size: 36px;
  background-color: green;
  border-radius: 14px;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 30px;
  font-size: 18px;
}

.item {
  padding: 3px;
}

.item:first-child {
  color: red;
}

.item:nth-child(2) {
  color: blue;
}

.item:nth-child(3) {
  color: green;
}
